@model BAG.CustomObject.EventDetails


<section>
    <div id="heading-breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <h1>Event details</h1>
                </div>
                <div class="col-md-5">
                    <ul class="breadcrumb">
                        <li>
                            <a href='@Url.Action("Index", "Home")'>Home</a>
                        </li>
                        <li>
                            <a href='@Url.Action("Index", "Home")'>Events</a>
                        </li>
                        <li>Event details</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div id="content">
        <div class="container">
            <div class="row panel">
                <div class="col-md-4 events">
                    <img class="event_bg" src="~/Img/hdfc.jpg" />
                    <ul class="event-list picture_mob">
                        <li style="list-style: none;">
                            <time datetime="2014-02-25 2000">
                                <span class="day">@Model.EventMaster.Event_StartDate.Day</span>
                                <span class="month">@Model.EventMaster.Event_StartDate.ToString("MMM")</span>
                                <span class="year">2014</span>
                                <span class="time">8:00 PM</span>
                            </time>
                        </li>
                    </ul>
                </div>
                <div class="col-md-8  col-xs-12">
                    <div class="header event_align" style="word-wrap: break-word;">
                        <h1>@Model.EventMaster.Event_Name</h1>
                        <div class="col-sm-6">
                            <p class="author-category">
                                By <a href="#">@Model.EventMaster.Created_by</a> on <a href="#">@Model.EventMaster.Event_Type_Id</a>
                            </p>
                        </div>
                        <div class="col-sm-6">
                            <p class="date-comments">
                                <a href="#"><i class="fa fa-calendar-o"></i>@Model.EventMaster.Created_Date.ToString("dd MMM yyyy")</a>
                                <a href="#"><i class="fa fa-comment-o"></i> 2 Comments</a>
                            </p>
                        </div>
                        <div class="col-sm-12">
                            <h4>at <span style="color:rgb(218, 77, 77)">@Model.EventMaster.Even_Location</span></h4>
                            <span>
                                @Model.EventMaster.Event_Desc
                            </span>
                            <br /><br />
                        </div>
                        
                        <div class="box social col-sm-12" id="product-social">
                            <h4>Show it to your friends</h4>
                            <p>
                                <a href="#" class="external facebook" data-animate-hover="pulse"><i class="fa fa-facebook"></i></a>
                                <a href="#" class="external gplus" data-animate-hover="pulse"><i class="fa fa-google-plus"></i></a>
                                <a style="opacity: 1;" href="#" class="external twitter" data-animate-hover="pulse"><i class="fa fa-twitter"></i></a>
                                <a href="#" class="email" data-animate-hover="pulse"><i class="fa fa-envelope"></i></a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="panel panel-default panelborder">
                    <div class="panel-heading panelcolor" style=" background-color:#da4d4d;">
                        <h3 class="panel-title redtext">
                            <span class="pull-left"><i class="fa fa-fw fa-info-circle"></i>&nbsp;My Wishlist's</span><a href="#" data-toggle="modal" data-target="#Announcement">
                                <br/>
                            </a>
                        </h3>
                    </div>
                    <div class="panel-body">
                        <div class="col-md-3">
                            <div class="panel panel-default sidebar-menu with-icons" style="border:none;">
                                <div class="panel-body">
                                    <div class="list-group">
                                        <a style="text-decoration:none;" href="javascript:P_CreateWishlist()" class="list-group-item">
                                            <i class=" fa fa-plus-square fa-lg pull-left"></i> Create Wishlist
                                        </a>
                                    </div>
                                    <br />
                                    <div id="WishlistsId">
                                        @{Html.RenderAction("Wishlists", "EventDetails", new { @Event_id = @Model.EventMaster.Event_Id });}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="EventSummary" class="col-md-9">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row col-md-8">
                <div id="comments">
                    <h4 class="text-uppercase">2 comments</h4>


                    <div class="row comment">
                        <div class="col-sm-3 col-md-2 text-center-xs">
                            <p>
                                <img src="/img/blog-avatar2.jpg" class="img-responsive img-circle" alt="">
                            </p>
                        </div>
                        <div class="col-sm-9 col-md-10">
                            <h5 class="text-uppercase">Julie Alma</h5>
                            <p class="posted"><i class="fa fa-clock-o"></i> September 23, 2011 at 12:00 am</p>
                            <p>
                                Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper.
                                Aenean ultricies mi vitae est. Mauris placerat eleifend leo.
                            </p>
                            <p class="reply">
                                <a href="#"><i class="fa fa-lock"></i> Delete</a>
                            </p>
                        </div>
                    </div>
                    <!-- /.comment -->


                    <div class="row comment last">

                        <div class="col-sm-3 col-md-2 text-center-xs">
                            <p>
                                <img src="/img/blog-avatar.jpg" class="img-responsive img-circle" alt="">
                            </p>
                        </div>

                        <div class="col-sm-9 col-md-10">
                            <h5 class="text-uppercase">Louise Armero</h5>
                            <p class="posted"><i class="fa fa-clock-o"></i> September 23, 2012 at 12:00 am</p>
                            <p>
                                Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper.
                                Aenean ultricies mi vitae est. Mauris placerat eleifend leo.
                            </p>
                            <p class="reply">
                                <a href="#"><i class="fa fa-lock"></i> Delete</a>
                            </p>
                        </div>

                    </div>
                    <!-- /.comment -->
                </div>
            </div>
        </div>
    </div>

    <div id="PId"></div>
    <input id="hdn_WList_Id" class="hidden"/>
</section>
<section class="bar background-pentagon no-mb">
    <div class="container">
        <div class="row showcase">
            <div class="col-md-3 col-sm-6">
                <div class="item">
                    <div class="icon">
                        <i class="fa fa-align-justify"></i>
                    </div>
                    <h4>
                        <span class="counter">580</span><br>

                        Total Items
                    </h4>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="item">
                    <div class="icon">
                        <i class="fa fa-users"></i>
                    </div>
                    <h4>
                        <span class="counter">100</span><br>

                        Total Members Going
                    </h4>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="item">
                    <div class="icon">
                        <i class="fa fa-copy"></i>
                    </div>
                    <h4>
                        <span class="counter">320</span><br>

                        Invited
                    </h4>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="item">
                    <div class="icon">
                        <i class="fa fa-font"></i>
                    </div>
                    <h4>
                        <span class="counter">923</span><br>

                        Comments
                    </h4>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>
<script>
    function P_InviteMembers() {
        jQuery.ajax({
            url: '@Url.Action("P_InviteMembers", "EventDetails")',
            method: "POST",
            cache: false,
            data: { wishlist_id: document.getElementById('hdn_WList_Id').value, Event_id: '@Model.EventMaster.Event_Id' }
        }).done(function (result) {
            $('#PId').html(result);
            $('#makeinvitesmodal').modal('show');
        });
    }

    function P_DeleteWishlist(Id, Name) {
        var viewUrl = '@Url.Action("P_DeleteWishlist", "EventDetails")';
        $.post(viewUrl, { Id: Id, Name: Name }, function (data) {
            $('#PId').html(data);
            $('#delete').modal('show');
        });
    }

    function P_AddItems() {
        var viewUrl = '@Url.Action("P_AddItems", "EventDetails")';
        $.post(viewUrl, { Id: '@Model.EventMaster.Event_Id', WList_Id: document.getElementById('hdn_WList_Id').value }, function (data) {
            $('#PId').html(data);
            $('#Add').modal('show');
        });
    }

    function P_EditWishlist(Id) {
        var viewUrl = '@Url.Action("P_EditWishlist", "EventDetails")';
        $.post(viewUrl, { Id: Id }, function (data) {
            $('#PId').html(data);
            $('#edit').modal('show');
        });
    }

    function P_CreateWishlist() {
        var viewUrl = '@Url.Action("P_CreateWishlist", "EventDetails")';
        $.post(viewUrl, { Id: '@Model.EventMaster.Event_Id' }, function (data) {
            $('#PId').html(data);
            $('#create').modal('show');
        });
    }

    function UpdateWishlist() {
        jQuery.ajax({
            url: '@Url.Action("Wishlists", "EventDetails")',
            method: "POST",
            cache: false,
            data: { Event_id: '@Model.EventMaster.Event_Id' }
        }).done(function (result) {
            $('#WishlistsId').html(result);
            document.getElementById('CreateWishlist_WList_Name').value = '';
        });
    }

    function Delete_Wishlist(Id) {
        var viewUrl = '@Url.Action("DeleteWishlist", "EventDetails")';
        $.post(viewUrl, { Id: Id }, function (data) {
            jQuery.ajax({
                url: '@Url.Action("Wishlists", "EventDetails")',
                method: "POST",
                cache: false,
                data: { Event_id: '@Model.EventMaster.Event_Id' }
            }).done(function (result) {
                $('#deleteWishlistId').html(data);
                $('#WishlistsId').html(result);
            });
        });
    }

    function EventSummary(Id) {
        jQuery.ajax({
            url: '@Url.Action("Eventsummary", "EventDetails")',
            method: "POST",
            cache: false,
            data: { wishlist_id: Id }
        }).done(function (result) {
            $('#EventSummary').html(result);
            document.getElementById("hdn_WList_Id").value = Id;
        });
    }

    function UpdateEventSummary() {
        jQuery.ajax({
            url: '@Url.Action("Eventsummary", "EventDetails")',
            method: "POST",
            cache: false,
            data: { wishlist_id: document.getElementById('hdn_WList_Id').value }
        }).done(function (result) {
            $('#EventSummary').html(result);
        });
    }
</script>
<style>
    .tag-cloud li
    {
        display: inline-block;
    }
    .tag-cloud li a {
    display: inline-block;
    padding: 5px;
    border: solid 1px #eeeeee;
    border-radius: 0;
    color: #38a7bb;
    margin: 5px 5px 5px 0;
    text-transform: uppercase;
    letter-spacing: 0.08em;
    font-weight: 700;
    font-size: 12px;
}
</style>
