@model BAG.CustomObject.Profile

<div id="heading-breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h1>Profile</h1>
            </div>
            <div class="col-md-5">
                <ul class="breadcrumb">
                    <li>
                        <a href='@Url.Action("Index", "Home")'>Home</a>
                    </li>
                    <li>Profile</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<section>
    <div class="container">
        <div class="row">
            <div class="panel panel-default" style="border: 2px solid #da4d4d;">
                <div class="panel-heading" style="background-color: #da4d4d;">
                    <h3 class="panel-title redtext">
                        <span class="pull-left"><i class="fa fa-fw fa-user"></i>&nbsp;Profile Information</span><a href="#" data-toggle="modal" data-target="#Announcement">
                            <br/>
                        </a>
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <div class="panel panel-default">
                                <div class="panel-body" style="background-color:whitesmoke;">
                                    <div class="profile-userpic">
                                        <img src='@Model.Media_Id_Img' alt="ALT NAME" class="img-responsive ">
                                    </div>
                                    <div id="sideNavigation">
                                        <ul style="margin-top:10px;padding-left:0.1cm;">
                                            <li>
                                                <a data-placement="right"><i class="fa fa-user"></i>&nbsp;@Model.First_Name</a>
                                            </li>
                                            <li>
                                                <a data-placement="right"><i class="fa fa-birthday-cake"></i>&nbsp; @Model.Date_Of_Birth.ToString("dd MMM yyyy")</a>
                                            </li>
                                            <li>
                                                <a data-placement="right"><i class="fa fa-map-marker"></i>R M Nagar Bangalore  </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" id="btnresponsive" style="background-color: #da4d4d;padding-bottom:30px;">
                                    <h3 class="panel-title redtext">
                                        <span class="pull-left"><i class="fa fa-cog"></i>&nbsp;Settings</span>
                                    </h3>
                                </div>
                                <div class="panel-body" style="background-color:whitesmoke;">
                                    <a href='@Url.Action("ChangePassword", "Profile")' class="btn btn-default buttoncolor">
                                        <span class="fa fa-cog"></span>
                                        Change Password
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-9 shadow">
                            <div class="panel panel-default" style="border:2px solid whitesmoke;">
                                <div class="panel-heading" id="btnresponsive" style="background-color:whitesmoke; color:black;padding-bottom:30px;">
                                    <div class="col-md-6 col-md-offset-0">
                                        <h2 class="panel-title texttrans ">
                                            <span class="fontstyle pull-left">Welcome @Model.First_Name</span><a href="#" data-toggle="modal" data-target="#Announcement">
                                            </a>
                                        </h2>
                                    </div>
                                    <div class="col-md-6 col-sm-4 col-xs-5">
                                        <p data-placement="top" data-toggle="tooltip"><a class="btn btn-default pull-right btn-xs buttoncolor" href='@Url.Action("EditProfile", "Profile")'><span class=" fa fa-pencil"></span>&nbsp;Edit</a></p>
                                    </div>
                                </div>
                                <div class="panel-body" style="background-color:whitesmoke;">
                                    <div class="form-horizontal">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="name" class="col-lg-5 control-label">
                                                    First Name :
                                                </label>
                                                <div class="col-lg-7 control-text">
                                                    <label>
                                                        @Model.First_Name
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="name" class="col-lg-5 control-label">
                                                    Last Name :
                                                </label>
                                                <div class="col-lg-7 control-text">
                                                    <label>
                                                        @Model.Last_Name
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="abtme" class="col-lg-5 control-label">
                                                    Email-Id :
                                                </label>
                                                <div class="col-lg-7 control-text">
                                                    <label>
                                                        @Model.Email_Id
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="dob" class="col-lg-5 control-label">
                                                    Alternate Email-Id :
                                                </label>
                                                <div class="col-lg-7 control-text">
                                                    <label>
                                                        @Model.Alt_Email_Id
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="Prmntadd" class="col-lg-5 control-label">
                                                    Phone No :
                                                </label>
                                                <div class="col-lg-7 control-text">
                                                    <label>
                                                        @Model.Phone_No
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="contactno" class="col-lg-5 control-label">
                                                    Gender :
                                                </label>
                                                <div class="col-lg-7 control-text">
                                                    <label>
                                                        @if (Model.Gender=="1")
                                                        { 
                                                            <span>Male</span>
                                                        }
                                                        else
                                                        { 
                                                            <span>Female</span>
                                                        }
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="contactno" class="col-lg-5 control-label">
                                                    DOB :
                                                </label>
                                                <div class="col-lg-7 control-text">
                                                    <label>
                                                        @Model.Date_Of_Birth.ToString("dd MMM yyyy")
                                                    </label>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="contactno" class="col-lg-5 control-label">
                                                    About :
                                                </label>
                                                <div class="col-lg-7 control-text">
                                                    <label>
                                                        @Model.About_member
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="contactno" class="col-lg-5 control-label">
                                                    IsMarried :
                                                </label>
                                                <div class="col-lg-7 control-text">
                                                    <label>
                                                        @if (Model.Is_married == 1)
                                                        {
                                                            <span>Married</span>
                                                        }
                                                        else
                                                        {
                                                            <span>Not Married</span>
                                                        }
                                                    </label>
                                                </div>
                                            </div>
                                            @if(Model.Is_married==1)
                                            { 
                                               <div class="form-group">
                                                <label for="contactno" class="col-lg-5 control-label">
                                                    Wed Anniversary :
                                                </label>
                                                <div class="col-lg-7 control-text">
                                                    <label>
                                                        @Model.Wed_anniversary.ToString("dd MMM yyyy")
                                                    </label>
                                                </div>
                                            </div>
                                            }
                                            <div class="form-group">
                                                <label for="select" class="col-lg-5 control-label">
                                                    Rating :
                                                </label>
                                                <div class="col-lg-7 control-text">
                                                    <label>
                                                       @Model.Rating
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="select" class="col-lg-5 control-label">
                                                    Address :
                                                </label>
                                                <div class="col-lg-7 control-text">
                                                    <label>
                                                        @Model.Address_Id
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="select" class="col-lg-5 control-label">
                                                    Member Since :
                                                </label>
                                                <div class="col-lg-7 control-text">
                                                    <label>
                                                       @Model.Created_Date.ToString("dd MMM yyyy")
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<style>
    .control-text {
    padding-top: 7px;
    margin-bottom: 0;
    text-align: left;
}
</style>